* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 90%;
    margin: 10px auto;
}

.menu {
    display: flex;
    padding: 10px;
}

.menu div {
    padding: 5px;
    margin: -10px 10px;
}

.menu_el--active {
    border: solid 1px #000000;
    border-bottom-color: #ffffff;
}

.content div {
    display: none;
    padding: 10px;
}

.content_page--active {
    display: block!important;
    border: solid 1px #000000;
}